@import './common.scss';
@import './ypy.scss';

#banner{
 width: 300px;
 height: 250px; 
}


#legalBtn{	
	@include pos(240, 0);	
	width: 60px;
}

 
.logo{	
	@include pos(0, 0);
	width: 82px;	
	bottom:-3px;
	left:0;
}

