@import './common.scss';
@import './ypy.scss';

#banner{
 width: 970px;
 height: 250px; 
}
 

#legalBtn{	
	@include pos(825, 0);	
	width: 140px;
	height: 50px;
	// opacity: 1 !important;
}


.logo{	
	@include pos(0, 0);
	width: 132px;	
	bottom:-3px;
	left:0;
}

svg#fire{
	@include pos-scale(86, -22, 0);
	width: 27px;	
	
}


