
svg#fire{
	@include pos-scale(54, -17, 0);
	width: 17px;	
	bottom:-3px;
	left:0;	
}


.hero_on{
	opacity: 0;
}

#leaf{
	// @include pos-scale(0, 10, 1);
	opacity: 0;
}

#heart{
	// @include pos-scale(0, -10, 1);
	opacity: 0;
}

#bg, #logo_olg{
	transform-origin: 0% 100%;
}

svg{
	overflow: visible;
}


.logo{	
	@include pos(0, 0);
	width: 82px;	
	bottom:-3px;
	left:0;
}

